.faq-answer li {
  margin-bottom: 5px;  
  font-size: 1.3rem;
}

.inicio .image img {
  position: absolute;  
  width: auto;  
  height: auto; 
}

.inicio .image img:nth-of-type(1) {
  order: 2;
  width: 400px; 
  height: auto; 
  z-index: 2;
}


.inicio .image img:nth-of-type(2) {
  order: 1;
  width: 700px; 
  height: auto;  
  z-index: 1;
}

.inicio .image img:nth-of-type(3) {
  order: 3;
  z-index: 3;
  width: 700px;  
  height: auto;  
}

.inicio {
  flex-direction: column;
}

.project-info {
  display: flex;
  flex-direction: column;  
}

.project-description .image {
  display: flex;
  justify-content: center;  
  align-items: center;  
  overflow: hidden;  
  margin-bottom: -30%;
  margin-top: -30%;
}

.project-description .image img {
  transform: rotate(-90deg);  
  transform-origin: center;  
  max-width: 30%; 
  height: auto; 
}

.project-origin .image {
  display: flex;
  justify-content: center;  
  align-items: center;  
  overflow: hidden;  
  margin-bottom: -15%;
  margin-top: -15%;
}

.project-origin .image img {
  transform: rotate(-90deg);  
  transform-origin: center;  
  max-width: 30%; 
  height: auto; 
}

.carousel {
  position: relative;
  width: 100%;  
  margin: auto;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  display: flex;
}

.carousel-item , .testimonials .feedbacks-container .box{
  min-width: 20%;
  margin: 0 10px; 
  box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff; 
  border: 8px solid var(--main-color);  
 }

.carousel-item h2, .testimonials .feedbacks-container .box h2 {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
  color: var(--main-color); 
}

.carousel-item p, .testimonials .feedbacks-container .box p {
  margin: 0;
  color: #062649; 
  font-size: 1.0rem;

}

 
.carousel-item h3, .testimonials .feedbacks-container .box h3 {
  margin: 10px 0;
  color: #062649; 
  font-weight: bold; 
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color);
  background-color: rgba(1, 119, 181, 0.7);  
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
  z-index: 10;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}
 

.carousel-prev:hover, .carousel-next:hover {
  background-color: rgba(1, 119, 181, 0.9);  
}




.testimonials .feedbacks-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
  gap: 2rem;
}

.testimonials .feedbacks-container .box .user{
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
 

.buttons-container {
  display: flex; 
  justify-content: center; 
  align-items: center;  
  margin-top: 20px;  
}


.read-more,
.read-less {
  margin-top: 1rem;
  display: inline-block;
  padding: .6rem .6rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: #ffffff;
  background: var(--main-color);
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 0;
  overflow: hidden;
  text-transform: uppercase;  
  font-weight: 700; 
  margin-right: 20px;  
  margin-bottom: 10px;  
}

.read-more::before, .read-less::before{
  content: '';
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 0%;
  background-color: #ffff;

  z-index: -1;
  transition: .2s ease-out;
}

.read-less:hover, .read-more:hover{
  color: var(--main-color);
}

.read-more:hover::before, .read-less:hover::before{
  left: 0;
  width: 100%;
}



@media (max-width: 1800px) {
  .carousel-item {
    min-width: 20%; 
  }
}

@media (max-width: 1700px) {
  .carousel-item {
    min-width: 25%; 
  }
}

@media (max-width: 1400px) {
  .carousel-item {
    min-width: 25%; 
  }
}

@media (max-width: 1024px) {
  .carousel-item {
    min-width: 40%; 
  }
}

 @media (max-width: 940px) {
  .inicio .image img {
    max-width: 60%; 
    height: auto; 
  }

  .carousel-item {
    min-width: 45%;  
  }
}

@media (max-width: 800px) {
  .carousel-item {
    min-width: 50%; 
  }
}

@media (max-width: 768px) {
  .inicio .image img {
    max-width: 50%; 
    height: auto; 
  }

  .carousel-item {
    min-width: 60%;  
  }
}

@media (max-width: 480px) {
  .inicio .image img {
    max-width: 80%; 
    height: auto; 
  }

  .carousel-item {
    min-width: 70%;  
  }
}