

.list-container {
  display: flex;
  flex-direction: column;
}

.list-item {
  margin-bottom: 15px;
  border-radius: 8px;
  overflow: hidden;
}

.list-question {
   transition: color 0.3s ease;  
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
  
 }


.list-answer {
  margin-bottom: 15px;
  margin-top: 15px;
  display: none; 
 }



.carousel {
  position: relative;
  width: 100%; 
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  position: relative;  
  flex: 0 0 30%;  
  margin: 0 10px; 
  box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff; 
  border: 8px solid var(--main-color);
  min-width: 300px;
  min-height: 230px; 
}

.carousel-item h2 {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
  color: var(--main-color);
  text-align: center;
}

.carousel-item p {
  margin: 0;
  color: #062649;
  font-size: 0.9rem;
  text-align: justify; 
}

.carousel-item h3 {
  margin: 10px 0;
  color: #062649;
  font-weight: bold;
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(1, 119, 181, 0.7);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
  z-index: 10;
  width: 40px; 
  height: 40px; 
}

.carousel-prev {
  left: 10px; 
}

.carousel-next {
  right: 10px; 
}

.carousel-prev:hover, .carousel-next:hover {
  background-color: rgba(1, 119, 181, 0.9);
}

.carousel-item .list-answer {
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  margin-bottom: 50px;
}

.carousel-item .list-answer.show {
  display: block;
  max-height: 200px; 
}

.toggle-details {
  position: absolute;  
  bottom: 20px;  
  left: 50%; 
  transform: translateX(-50%);  
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  color: #ffffff;
  background: var(--main-color);
  z-index: 1;
  text-transform: uppercase;  
  font-weight: 700; 
  border: none;  
  transition: color 0.3s ease, background-color 0.3s ease; 
  margin-top: 20px;
}

.toggle-details::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 0%;
  background-color: #283254;
  z-index: -1;
  transition: .2s ease-out;
}
 
.toggle-details:hover::before {
  width: 100%;  
} 

.carousel-item {
  position: relative;  
  flex: 0 0 30%;  
  margin: 0 10px; 
  box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff; 
  border: 8px solid var(--main-color);

}


.calendar-container {
  margin: 20px auto;
  max-width: 1000px;
}

.calendar {
  display: grid;
  grid-template-columns:50px repeat(5, 1fr);
  grid-template-rows: auto repeat(6, 1fr);  
  width: 100%;
  box-sizing: border-box;
  border: none;  border: none; 
}

.calendar-cell {
  border: 3px solid #0A1128;  
  border-radius: 9px;   
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: px;
  padding: 0; 
  position: relative; 
  background-color: #062649;
}

.calendar-cell:hover {
  background-color: #0A325E;
}

.calendar div {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-header {
  padding: 6px 0px 0px 0px;
}

.day-number {
  padding: 2px 0px 6px 0px;
}

.day-cell {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 3px solid #0A1128;  
  border-radius: 9px; 
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: #062649;
}

.time-slot-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  padding: 2px;  
  border: 3px solid #0A1128;  
  border-radius: 8px; 
  width: 50px;      
  background-color: #062649;
}

.day-header, .day-number, .time-slot-cell div:first-child, .time-slot-cell div:last-child {
  font-size: 0.9em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;  
}

.event {
  width: 100%;
  height: 100%;
  padding: 0;  
  box-sizing: border-box;  
  text-align: center;
  border-radius: inherit;  
  background-color: #ffffff;  
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;  
  top: 0;
  left: 0;
  border-radius: inherit;
}

.description-event {
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-top: 6px;
  text-transform: uppercase;  
}

.remaining-places {
  font-size: 0.8em;
  color: #ffffff;
  margin-top: 4px;
  margin-bottom: 6px;
  text-transform: uppercase;  

}

.event.official {
  display: flex;
  flex-direction: column;
  background-color: #068dd6;  
  padding: 10px; 
}

.event.official:hover {
  background-color: #0e98e2;  
}

.event.official .description-event, .event.official .remaining-places, .event.waitlist .description-event, .event.waitlist .remaining-places,.event.default .description-event, .event.default .remaining-places {
  color: white;
}

.event.waitlist {
  display: flex;
  flex-direction: column;
  background-color: #014e77;  
  padding: 10px; 
}

.event.waitlist:hover {
  background-color: #015785;  
}

.event.default {
  display: flex;
  flex-direction: column;
  background-color: #062649;
  padding: 10px; 
}

.event.default:hover {
  background-color: #0A325E;
}

.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; 
}

.centered-form form {
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding: 20px;
  border-radius: 8px;
}

.centered-form form label {
  display: flex;
  align-items: center;
  margin: 15px 0; 
  cursor: pointer;
  width: auto;  
  justify-content: flex-start;  
}

input[type="radio"] {
  display: none;
}

.radio-label {
  font-size: 1em;
  margin-right: 15px;
  background-color: transparent;
  border: none;
  padding: 10px;
  color: white;
  display: flex;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 10px 0 10px;
}

form label:hover .radio-label {
  background-color: #0A325E;  
}

form input[type="radio"]:checked + .radio-label {
  font-weight: bold; 
  background-color: #062649;
  outline: none;
}

form input[type="radio"]:checked + .radio-label:hover {
  background-color: #0A325E;  
}

.centered-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.centered-details h2 {
  margin-bottom: 10px;
  color: white;
}

#meeting-details th,
#meeting-details td {
  border: 3px solid #ffffff;  
  padding: 12px;
  text-align: left;
  font-size: 1em;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #062649;
  color: #fff;
  width: 500px;
  text-align: center;   
  vertical-align: middle; 
  border: 3px solid #0A1128;    
}

#meeting-details th {
  background-color: #062649;
}

#meeting-details td {
  background-color: #0A325E;
}

#meeting-details table {
  width: 100%;
  border-collapse: separate;  
}




@media (min-width: 1800px) {
  .carousel-item {
    min-height: 200px;   
  }
}

@media (max-width: 1024px) {
  .carousel-item {
    min-width: 40%; 
  }
}

 @media (max-width: 940px) {

  .carousel-item {
    min-width: 45%;  
  }
}

@media (max-width: 800px) {
  .carousel-item {
    min-width: 50%; 
  }
}

@media (max-width: 768px) {
  .carousel-item {
    min-width: 60%;  
  }
}

@media (max-width: 480px) {

  .carousel-item {
    min-width: 70%;  
  }
}