html {
  background-image: url('../../images/init/black.png');
  background-size: cover;
  background-repeat: no-repeat; 
}
 
p {
  color: white;
  text-align: justify;
}

li {
  color: white;
  text-align: justify;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

ul {
  /* list-style-type: none; */
  padding: 0px 0px 0px 40px; 
  margin: 0; 
  font-size: 1.5rem;
  line-height: 1.8;
  margin-bottom: 2rem; 
}

.gallery-image {
  width: 10%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.heading {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase; 
  line-height: 1.2;
  margin-top: 5rem;
  margin-bottom: 20px;
  padding: 5px 10px;  text-align: center;
  text-decoration: none;
  background-color: var(--main-color);
  font-weight: bold;
  display: inline-block; 
}


.btn-projects {
  color: #ffffff;  
  transition: color 0.3s ease;  
}

.btn-projects:hover {
  color:  var(--main-color);  
}

.btn-details {
  color: #ffffff
}

.btn-details:hover {
  color: #1087c7;
}

input[type=text],  input[type=email], select, textarea{
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 20px;
  color: var(--light-color);
  background-color: #062649;
}

input[type=text]:focus, input[type=email]:focus, select:focus, textarea:focus {
  background-color: #0A325E;  
   outline: none;  
}

label {
  display: block; 
  margin-bottom: 8px; 
  color: #fff;
  font-size: 1.2rem;
}

textarea {
  min-height: 100px;  
}

button[type="submit"] {
  margin-top: 1rem;
  display: inline-block;
  padding: 5px 10px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #ffffff;
  background: var(--main-color);
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 0;
  overflow: hidden;
  text-transform: uppercase;  
  font-weight: 700; 
  margin-right: 20px;  
  margin-bottom: 10px; 
  border: none;  
  transition: color 0.3s ease, background-color 0.3s ease; 
}

button[type="submit"]::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 0%;
  background-color: #ffffff;
  z-index: -1;
  transition: .2s ease-out;
}

button[type="submit"]:hover {
  color: var(--main-color);
}

button[type="submit"]:hover::before {
  width: 100%;  
} 

.faq-container {
  display: flex;
  flex-direction: column;
}

.faq-item {
  margin-bottom: 15px;
  border-radius: 8px;
  overflow: hidden;
}

.faq-question {
  color:  white;
  transition: color 0.3s ease;  
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
  
 }

.faq-question:hover {
  color: var(--main-color);  
}


.faq-answer {
  margin-bottom: 15px;
  margin-top: 15px;
  display: none; 
 }


.faq-answer p {
  font-size: 1.3rem;
}

.faq-answer ul {
  list-style-type: disc;  
  padding-left: 20px;  
  margin: 0;
}



.hidden-content-timeline {
  display: none;
}

.circle-item .circle-text a {
  color: #ffffff; 
}

.circle-item .circle-text a:hover {
  color: var(--main-color); 
  font-weight: bold;
}

.circle-btn {
  background: #fff;  
  border: 3px solid var(--main-color); 
}

 
.timeline-line {  
  height: 85%;  
}

.content-display {
  border-radius: 5px;  
  padding: 1rem;  
  margin-top: 1rem; 
}

 

.hidden-content-timeline2 {
  display: none;  
  position: absolute;
  margin-top: 10px;
  z-index: 10;
  box-sizing: border-box;
  padding: 10px; 
  background-color: #fff; 
  border: 8px solid var(--main-color);    
  width: 300px;
  max-width: 100%;
}

.hidden-content-timeline2 p {
  color: #062649; 
}